node_modules
www
.idea
.tmp
.sass-cache
app/bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
.project
.classpath
target
.settings
app/scripts/config.js
.externalToolBuilders
.tern-project
atlassian-ide-plugin.xml
atlassian-ide-plugin.xml
/nbproject/private/
nbproject/
